In [2]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\renato\anaconda3\lib\site-packages (8.2.0)
Requirement already satisfied: protobuf<=4.21.12,>=4.21.1 in c:\users\renato\anaconda3\lib\site-packages (from mysql-connector-python) (4.21.12)

In [3]:
#importando as bibliotecas que iremos utilizar
import random
from datetime import datetime
import pandas as pd
import mysql.connector
from mysql.connector import errorcode

In [4]:
# LISTAS PARA FUNCIONAMENTO

# PLACAS E DATAS
placa_geradas = list() # lista que recebe as placas geradas na função gerar
data = list() # armazena a data e hora geradas dentro da função gerar

# VOGAIS, CONSOANTES E NOMES
vogais_japones = list()
consoante_japones = list()
nomes = list()

# VEICULOS
modelos = list()

# IDADES
idades = list()

# CORES
cores = list()

# NIVEL ACESSO
nivel_acesso = list()

# MATRICULA
matricula = list()

In [5]:
# GERANDO PLACAS

def gerar_placa():
    placa = [] # lista das letras e numeros gerados pela função random.choice
    letra = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'X', 'Z']
    numero = ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']
    letra_numero = []

    for i in letra:
        letra_numero.append(i)
    for i in numero:
        letra_numero.append(i)

    for i in range(3):
        choose = random.choice(letra)
        placa.append(choose)
    for i in range(5):
        choose1 = random.choice(numero)
        placa.append(choose1)
    placa[5] = random.choice(letra_numero)
    placa[3] = '-'
    placa[0:] = [''.join(placa[0:])]
    if placa in placa_geradas:
        pass
    else:
        placa_final = placa[0]
        placa_geradas.append(placa_final)
    #for i in placa:
        #print(f'Placa : {i} gerada com sucesso.')
    now = datetime.now() # current date and time
    date_time = now.strftime("%Y/%m/%d")
    data.append(date_time)


def mostrar():
    for i, p in enumerate(placa_geradas):
        pp = placa_geradas[i][0]
        data1 = data[i]
        print(f'N° {i} - Placa: {pp}, Data: {data1}')

In [6]:
# GERADOR DE NOMES PADRAO JAPONES

alfabeto = ['A','I','U','E','O','KA','KI','KU','KE','KO',
                    'SA','SHI','SU','SE','SO',
                    'TA','CHI','TSU','TE','TO',
                    'NA','NI','NU','NE','NO',
                    'HA','HI','FU','HE','HO',
                    'MA','MI','MU','ME','MO',
                    'YA','YU','YO',
                    'RA','RI','RU','RE','RO',
                    'WA', 'WO','N']

# Separando as vogais e consoantes e adicionando as listas
for letra in alfabeto:
    if letra  == 'A' or letra == 'I' or letra == 'U' or letra == 'E' or letra == 'O':
        vogais_japones.append(letra)
    else:
        consoante_japones.append(letra)

print(f'Vogais: {vogais_japones}\n Consoantes: {consoante_japones}' )

Vogais: ['A', 'I', 'U', 'E', 'O']
 Consoantes: ['KA', 'KI', 'KU', 'KE', 'KO', 'SA', 'SHI', 'SU', 'SE', 'SO', 'TA', 'CHI', 'TSU', 'TE', 'TO', 'NA', 'NI', 'NU', 'NE', 'NO', 'HA', 'HI', 'FU', 'HE', 'HO', 'MA', 'MI', 'MU', 'ME', 'MO', 'YA', 'YU', 'YO', 'RA', 'RI', 'RU', 'RE', 'RO', 'WA', 'WO', 'N']

In [7]:
#funçoes para funcionamento
def sortearLetra():
    letraSorteada = alfabeto[random.randint(0, len(alfabeto)-1)]
    for letra in vogais_japones:
        if letraSorteada == letra:
            tipo = "vogal"
            break
    for letra in consoante_japones:
        if letraSorteada == letra:
            tipo = "consoante"
            break
    #print(f'Letra sorteada: {letraSorteada}; Tipo: {tipo}')
    return letraSorteada, tipo

def formarPalavra(tipo):
    if tipo == 'consoante':
        letra = vogais_japones[random.randint(0, len(vogais_japones)-1)]
        tipo = 'vogal'
    else:
        letra = consoante_japones[random.randint(0, len(consoante_japones)-1)]
        tipo = 'consoante'
    #print(f'Saida : {letra}; {tipo}')
    return letra, tipo

def gerar_nomes():
  lista_nome = []
  #o nome haverá de 8 a 20 caracteres
  #aleatorio = random.choice([i for i in range(2, 10)])
  tamanho = [i for i in range(5, 10)]
  escolha = random.choice(tamanho)
  #Formando a palavra
  primeiraLetra = sortearLetra()
  auxiliar = primeiraLetra

  for p in range(escolha):
    auxiliar = formarPalavra(auxiliar[1])
    lista_nome.append(auxiliar[0])

  lista_nome[4] = ' '
  lista_nome[0:] = [''.join(lista_nome[0:])]
  nome_final = lista_nome[0]

  if lista_nome in nomes:
    #res = [i[::-1] for i in nome_final]
    #nomes.append(res.title())
    pass
  else:
    nomes.append(nome_final.title())

In [8]:
# ESCOLHENDO O MODELO DO VEICULO

# FUNCAO PARA FUNCIONAMENTO
def gerar_modelo():
  modelo = []
  chevrolet = ['Chevrolet Onix', 'Chevrolet Tracker', 'Chevrolet S10', 'Chevrolet Cruze', 'Chevrolet Prisma', 'Chevrolet Onix Plus', 'Chevrolet Spin', 'Chevrolet Classic']
  fiat = ['Fiat Strada', 'Fiat Mobi', 'Fiat Toro', 'Fiat Argo', 'Fiat Cronos', 'Fiat Pulse', 'Fiat Palio']
  honda = ['Honda Accord', 'Honda City', 'Honda Civic', 'Honda CR-V', 'Honda Fit', 'Honda HR-V']
  nissan = ['Nissan Frontier', 'Nissan GT-R', 'Nissan Kicks', 'Nissan March','Nissan Sentra', 'Nissan Versa']
  hyundai = ['Hyundai Creta', 'Hyundai HB20', 'Hyundai HB20S', 'Hyundai HR']
  volkswagen = ['Volkswagen Amarok', 'Volkswagen Fox', 'Volkswagen Gol', 'Volkswagen Golf', 'Volkswagen Jetta', 'Volkswagen Nivus', 'Volkswagen Polo']
  kia = ['Kia Cerato', 'Kia Soul', 'Kia Sportage', 'Kia Sorento', 'Kia Picanto', 'Kia Optima', 'Kia Rio','Kia Carnival']
  bmw = ['BMW X1', 'BMW X6','BMW X3', 'BMW X4', 'BMW X5', 'BMW X2']
  audi = ['Audi Q3', 'Audi A3', 'Audi A3 Sedan', 'Audi A4', 'Audi A5', 'Audi Q5', 'Audi R8', 'Audi Q7']
  rand_rover = ['Range Rover Sport', 'Range Rover Velar', 'Range Rover Evoque', 'Land Rover Discovery', 'Land Rover DISCOVERY Sport', 'Land Rover Defender']
  carro_modelo = [chevrolet, fiat, honda, nissan, hyundai, volkswagen, kia, bmw, audi, rand_rover]



  categoria = carro_modelo[random.randint(0, len(carro_modelo)-1)]
  escolha = categoria[random.randint(0, len(categoria)-1)]
  modelo.append(escolha)
  #print(f'Modelo {modelo} adicionado com sucesso.')
  modelo_f = modelo[0]
  modelos.append(modelo_f)

In [9]:
# SORTEANDO IDADES


def gerar_idades():
  idade_sorteada = list()
  idade_lista = [i for i in range(18, 79)]
  escolha = random.choice(idade_lista)
  idades.append(escolha)

In [10]:
# SORTEANDO CORES

def gerar_cor():
  coress = ['Preto', 'Marrom', 'Vermelho', 'Laranja', 'Amarelo', 'Verde', 'Azul Claro', 'Azul Escuro', 'Branco', 'Rosa']
  escolha_cor = random.choice(coress)
  cores.append(escolha_cor)

In [11]:
# NIVEL ACESSO

def gerar_nivel():
    escolha = random.choice(range(1, 4))
    nivel_acesso.append(escolha)

for i in range(2):
    gerar_nivel()

nivel_acesso

[3, 3]

In [12]:
# GERAR MATRICULA

def g_matricula():
    def gerar_matricula():
        matricula1 = []
    # matricula com entre 3 a 6 digitos
        rand = random.choice(range(3, 7))
        for i in range(rand):
            escolha = random.choice(range(0, 10))
            matricula1.append(str(escolha))  # Converti para string

        if matricula1[0] == '0':
            matricula1[0] = str(random.choice(range(1, 8)))

        matricula_gerada = ''.join(matricula1)

        return matricula_gerada

    nova_matricula = gerar_matricula()

# Certifique-se de que a nova_matricula não está na lista matricula antes de adicioná-la
    while nova_matricula in matricula:
        #print(f"Matrícula {nova_matricula} já existe na lista. Gerando uma nova matrícula.")
        nova_matricula = gerar_matricula()

    matricula.append(nova_matricula)
    #print(f"Matrícula gerada e adicionada à lista: {nova_matricula}")


g_matricula()

In [15]:
# FUNCAO PARA EXECUTAR TODAS AS FUNÇOES QUE IRAM GERAR AS NOVAS INFORMAÇOES
def executar():
  for i in range(50000):  #range(numero de informaçoes unicas geradas)
    gerar_nomes()
    gerar_idades()
    gerar_placa()
    gerar_modelo()
    gerar_cor()
    g_matricula()
    gerar_nivel()


executar()
funcionario_id = [i for i in range(1, len(nomes)+1)]

In [14]:
# FUNCAO LIMPEZA
def limpeza():
  nomes.clear()
  idades.clear()
  placa_geradas.clear()
  modelos.clear()
  cores.clear()
  data.clear()
  matricula.clear()
  nivel_acesso.clear()
  funcionario_id.clear()



limpeza()

In [16]:
# tabela funcionario
funcionario = pd.DataFrame({'Nome': nomes, 'Idade': idades, 'Matricula': matricula, 'Nivel_acesso': nivel_acesso})

# tabela veiculo
veiculo = pd.DataFrame({'Placa': placa_geradas, 'Modelo': modelos, 'Cor_veiculo': cores, 'Funcionario_id': funcionario_id})

In [17]:
funcionario.head()
funcionario.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Nome          50000 non-null  object
 1   Idade         50000 non-null  int64
 2   Matricula     50000 non-null  object
 3   Nivel_acesso  50000 non-null  int64
dtypes: int64(2), object(2)
memory usage: 1.5+ MB

In [18]:
veiculo.head()
veiculo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Placa           50000 non-null  object
 1   Modelo          50000 non-null  object
 2   Cor_veiculo     50000 non-null  object
 3   Funcionario_id  50000 non-null  int64
dtypes: int64(1), object(3)
memory usage: 1.5+ MB

In [22]:
# CONECTAR O PYTHON AO AZURE DATABASE FOR MYSQL
try:
    conexao = mysql.connector.connect(host='db-italia.mysql.database.azure.com', user='',password='', database='projeto_python_sql')
    print('Database connection made!')
    mycursor = conexao.cursor()
except mysql.connector.Error as error:
    if error.errno == errorcode.ER_BAD_DB_ERROR:
        print('Database doesnt exist')
    elif error.errno == errocode.ER_ACESS_DENIED_ERROR:
        print('User name or password is wrong')
    else:
        print(error)

Database connection made!

In [ ]:
CREATE DATABASE projeto_python_sql;
USE projeto_python_sql;

CREATE TABLE funcionario
(
	funcionario_id INT AUTO_INCREMENT NOT NULL,
	nome VARCHAR(100) NOT NULL,
    idade INT NOT NULL,
	matricula INT UNIQUE NOT NULL,
	nivel_acesso INT NOT NULL,
    PRIMARY KEY(funcionario_id)
);

In [ ]:
CREATE TABLE veiculo
(
	veiculo_id INT AUTO_INCREMENT NOT NULL,
    placa VARCHAR(8) NOT NULL,
    modelo VARCHAR(40) NOT NULL,
    cor_veiculo VARCHAR(20) NOT NULL,
    funcionario_id INT NOT NULL,
    PRIMARY KEY(veiculo_id),
    FOREIGN KEY(funcionario_id) REFERENCES funcionario(funcionario_id)
);

In [ ]:
# ADICIONANDO CADA LINHA DO DATAFRAME A TABELA CRIADA NO BANCO DE DADOS
for index, row in funcionario.iterrows():
    sql = "INSERT INTO funcionario (nome, idade, matricula, nivel_acesso) VALUES (%s, %s, %s, %s)"
    val = (row['Nome'], row['Idade'], row['Matricula'], row['Nivel_acesso'])
    mycursor.execute(sql, val)
    conexao.commit()


mycursor.close()
conexao.close()

In [23]:
for index, row in veiculo.iterrows():
        # Agora, insira na tabela veiculo
        sql = "INSERT INTO veiculo (placa, modelo, cor_veiculo, funcionario_id) VALUES (%s, %s, %s, %s)"
        val = (row['Placa'], row['Modelo'], row['Cor_veiculo'], row['Funcionario_id'])
        mycursor.execute(sql, val)
        conexao.commit()
        
mycursor.close()
conexao.close()

In [44]:
#  ALGORITMO PARA SELECIONAR AS INFORMAÇÕES DA TABELA DO BANCO DE DADOS
mycursor = conexao.cursor()

mycursor.execute("SELECT count(*) FROM funcionario")

myresult = mycursor.fetchall()
mycursor.close()
conexao.close()


for x in myresult:
  print(x)

(50000,)

In [45]:
#  ALGORITMO PARA SELECIONAR AS INFORMAÇÕES DA TABELA DO BANCO DE DADOS
mycursor = conexao.cursor()

mycursor.execute("SELECT count(*) FROM veiculo")

myresult = mycursor.fetchall()
mycursor.close()
conexao.close()

for x in myresult:
  print(x)

(50000,)

In [46]:
#  ALGORITMO PARA SELECIONAR AS INFORMAÇÕES DA TABELA DO BANCO DE DADOS
mycursor = conexao.cursor()

mycursor.execute("SELECT * FROM funcionario LIMIT 20")

myresult = mycursor.fetchall()
mycursor.close()
conexao.close()

for x in myresult:
  print(x)

(1, 'Oseita Keanea', 28, 725673, 1)
(2, 'Eteeni ', 46, 8516, 2)
(3, 'Ayaumi Wauchio', 18, 496, 3)
(4, 'Ohieshi Ro', 34, 6504, 3)
(5, 'Uheine Taikeu', 24, 166, 1)
(6, 'Amieya Reishii', 48, 20548, 2)
(7, 'Miunie One', 69, 38105, 2)
(8, 'Seutsuu U', 36, 493545, 1)
(9, 'Oniuwo Noe', 78, 95359, 2)
(10, 'Uhiiro Mu', 67, 643, 2)
(11, 'Iruato Yoinee', 57, 20382, 2)
(12, 'Okeita Kou', 65, 1951, 3)
(13, 'Asairi Mi', 48, 48597, 1)
(14, 'Etsuetsu Hoe', 35, 51865, 1)
(15, 'Awaonu Mui', 49, 20782, 1)
(16, 'Usouko Soana', 73, 806, 3)
(17, 'Akuute Chiuso', 35, 945, 2)
(18, 'Raikoa Otou', 41, 315, 3)
(19, 'Etooso Shiekau', 44, 889, 2)
(20, 'Efueka Fuokau', 43, 343, 3)

In [51]:
#  ALGORITMO PARA SELECIONAR AS INFORMAÇÕES DA TABELA DO BANCO DE DADOS
mycursor = conexao.cursor()

mycursor.execute("SELECT * FROM veiculo LIMIT 20")

myresult = mycursor.fetchall()
mycursor.close()
conexao.close()

for x in myresult:
  print(x)

(1, 'VDH-4J15', 'Nissan March', 'Amarelo', 1)
(2, 'AFO-8M51', 'Nissan Frontier', 'Laranja', 2)
(3, 'RCE-2Z83', 'Fiat Strada', 'Azul Escuro', 3)
(4, 'VVO-1S94', 'Kia Soul', 'Azul Escuro', 4)
(5, 'FZJ-9B31', 'Hyundai HB20S', 'Verde', 5)
(6, 'HDA-7041', 'Honda HR-V', 'Preto', 6)
(7, 'FPH-7495', 'Volkswagen Amarok', 'Branco', 7)
(8, 'XGE-6865', 'Honda Civic', 'Preto', 8)
(9, 'IXL-4T17', 'Hyundai HR', 'Verde', 9)
(10, 'CAQ-3L32', 'Fiat Mobi', 'Amarelo', 10)
(11, 'OCC-2649', 'Chevrolet Spin', 'Rosa', 11)
(12, 'QUS-4G63', 'Fiat Cronos', 'Rosa', 12)
(13, 'SDS-7N53', 'Nissan Sentra', 'Amarelo', 13)
(14, 'BJN-2I16', 'Honda City', 'Vermelho', 14)
(15, 'XMZ-6J67', 'Chevrolet Onix', 'Azul Claro', 15)
(16, 'LEC-6V84', 'Volkswagen Polo', 'Amarelo', 16)
(17, 'UII-5V78', 'Fiat Palio', 'Marrom', 17)
(18, 'SZM-0P65', 'Fiat Mobi', 'Azul Claro', 18)
(19, 'MST-8183', 'Nissan Sentra', 'Laranja', 19)
(20, 'CRC-0Z07', 'Fiat Mobi', 'Amarelo', 20)

In [ ]:
CREATE VIEW estacionamento_terreo AS
SELECT
    f.nome,
    f.matricula,
    v.placa,
    v.modelo,
    f.nivel_acesso
FROM
    funcionario f
JOIN
    veiculo v ON f.funcionario_id = v.funcionario_id
WHERE
    f.nivel_acesso = 3;

In [ ]:
CREATE VIEW estacionamento_subsolo AS
SELECT
    f.nome,
    f.matricula,
    v.placa,
    v.modelo,
    f.nivel_acesso
FROM
    funcionario f
JOIN
    veiculo v ON f.funcionario_id = v.funcionario_id
WHERE
    f.nivel_acesso = 2;

In [ ]:
CREATE VIEW estacionamento_divina AS
SELECT
    f.nome,
    f.matricula,
    v.placa,
    v.modelo,
    f.nivel_acesso
FROM
    funcionario f
JOIN
    veiculo v ON f.funcionario_id = v.funcionario_id
WHERE
    f.nivel_acesso = 1;

In [62]:
#  ALGORITMO PARA SELECIONAR AS INFORMAÇÕES DA TABELA DO BANCO DE DADOS
mycursor = conexao.cursor()

mycursor.execute("SELECT * FROM estacionamento_divina LIMIT 20")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('Oseita Keanea', 725673, 'VDH-4J15', 'Nissan March', 1)
('Uheine Taikeu', 166, 'FZJ-9B31', 'Hyundai HB20S', 1)
('Seutsuu U', 493545, 'XGE-6865', 'Honda Civic', 1)
('Asairi Mi', 48597, 'SDS-7N53', 'Nissan Sentra', 1)
('Etsuetsu Hoe', 51865, 'BJN-2I16', 'Honda City', 1)
('Awaonu Mui', 20782, 'XMZ-6J67', 'Chevrolet Onix', 1)
('Tsuifuu ', 683608, 'SFA-9E76', 'BMW X2', 1)
('Enuki Riuhai', 689938, 'DLT-5Q04', 'BMW X1', 1)
('Otaeki Sa', 538297, 'IDG-8Q94', 'Fiat Palio', 1)
('Otoone Nao', 654959, 'MHB-3U65', 'Fiat Pulse', 1)
('Omeoyo No', 114, 'ZRQ-1A80', 'Fiat Toro', 1)
('Anike N', 5028, 'HBE-3087', 'Audi Q5', 1)
('Anaane ', 72848, 'GPQ-7571', 'Nissan Kicks', 1)
('Oneusa Ro', 396669, 'EUI-7886', 'Hyundai HR', 1)
('Enanu Fu', 98093, 'ZHG-6M21', 'Volkswagen Gol', 1)
('Etouna Sei', 66078, 'EXF-6X82', 'Chevrolet Onix', 1)
('Umiusu Heiru', 26353, 'OVO-2E79', 'Volkswagen Polo', 1)
('Okiuyu ', 410960, 'BDO-4D93', 'Honda Civic', 1)
('Toerio Uyo', 205050, 'ECA-0J24', 'Volkswagen Golf', 1)
('Uruiro Ka', 980, 'IHQ-4R27', 'Honda Accord', 1)

In [63]:
#  ALGORITMO PARA SELECIONAR AS INFORMAÇÕES DA TABELA DO BANCO DE DADOS
mycursor = conexao.cursor()

mycursor.execute("SELECT * FROM estacionamento_subsolo LIMIT 20")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('Eteeni ', 8516, 'AFO-8M51', 'Nissan Frontier', 2)
('Amieya Reishii', 20548, 'HDA-7041', 'Honda HR-V', 2)
('Miunie One', 38105, 'FPH-7495', 'Volkswagen Amarok', 2)
('Oniuwo Noe', 95359, 'IXL-4T17', 'Hyundai HR', 2)
('Uhiiro Mu', 643, 'CAQ-3L32', 'Fiat Mobi', 2)
('Iruato Yoinee', 20382, 'OCC-2649', 'Chevrolet Spin', 2)
('Akuute Chiuso', 945, 'UII-5V78', 'Fiat Palio', 2)
('Etooso Shiekau', 889, 'MST-8183', 'Nissan Sentra', 2)
('Erioho Tsu', 6735, 'PVM-7Q63', 'Audi A3 Sedan', 2)
('Areaha ', 556547, 'GOX-0A98', 'Kia Picanto', 2)
('Urueha Wa', 450, 'EVH-5I37', 'Kia Cerato', 2)
('Ineeke Wo', 272, 'ASG-0H48', 'Kia Carnival', 2)
('Roetau Emiiwo', 857922, 'XOO-6X30', 'BMW X3', 2)
('Otootsu Keimue', 1999, 'XAE-0U90', 'Audi A3', 2)
('Inute ', 68954, 'EZV-9640', 'Hyundai Creta', 2)
('Umouke Naima', 5591, 'XIT-1S24', 'Chevrolet Classic', 2)
('Aseesu Ruoyue', 178460, 'RVA-3F66', 'Hyundai HR', 2)
('Woeroi ', 729137, 'NMD-6643', 'Land Rover DISCOVERY Sport', 2)
('Amean Soaro', 456, 'SEZ-1S92', 'Volkswagen Polo', 2)
('Inoiho Yu', 550, 'VEE-3X28', 'Honda CR-V', 2)

In [64]:
#  ALGORITMO PARA SELECIONAR AS INFORMAÇÕES DA TABELA DO BANCO DE DADOS
mycursor = conexao.cursor()

mycursor.execute("SELECT * FROM estacionamento_divina LIMIT 20")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('Oseita Keanea', 725673, 'VDH-4J15', 'Nissan March', 1)
('Uheine Taikeu', 166, 'FZJ-9B31', 'Hyundai HB20S', 1)
('Seutsuu U', 493545, 'XGE-6865', 'Honda Civic', 1)
('Asairi Mi', 48597, 'SDS-7N53', 'Nissan Sentra', 1)
('Etsuetsu Hoe', 51865, 'BJN-2I16', 'Honda City', 1)
('Awaonu Mui', 20782, 'XMZ-6J67', 'Chevrolet Onix', 1)
('Tsuifuu ', 683608, 'SFA-9E76', 'BMW X2', 1)
('Enuki Riuhai', 689938, 'DLT-5Q04', 'BMW X1', 1)
('Otaeki Sa', 538297, 'IDG-8Q94', 'Fiat Palio', 1)
('Otoone Nao', 654959, 'MHB-3U65', 'Fiat Pulse', 1)
('Omeoyo No', 114, 'ZRQ-1A80', 'Fiat Toro', 1)
('Anike N', 5028, 'HBE-3087', 'Audi Q5', 1)
('Anaane ', 72848, 'GPQ-7571', 'Nissan Kicks', 1)
('Oneusa Ro', 396669, 'EUI-7886', 'Hyundai HR', 1)
('Enanu Fu', 98093, 'ZHG-6M21', 'Volkswagen Gol', 1)
('Etouna Sei', 66078, 'EXF-6X82', 'Chevrolet Onix', 1)
('Umiusu Heiru', 26353, 'OVO-2E79', 'Volkswagen Polo', 1)
('Okiuyu ', 410960, 'BDO-4D93', 'Honda Civic', 1)
('Toerio Uyo', 205050, 'ECA-0J24', 'Volkswagen Golf', 1)
('Uruiro Ka', 980, 'IHQ-4R27', 'Honda Accord', 1)